body, html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
	margin: 0;
	height: 100%;
}

/* Nav menu */
header,main,menu,nav {
    display: block
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

li {
    margin-left: auto;
    margin-right: auto;
	display: inline-block;
}

/* Link decoration */
a {
	text-decoration: none;
	color: black;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	color: #598181;
}

/* Form input boxes */
input[type=text], select, input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

input[type=tel] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit] {
  width: 30%;
  background-color: #46788e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit]:hover {
  background-color: #151d32;
}

/* Logo and app name, header */
.wackrheader {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.logo-header {
	float:left;
	border-right: 2px solid #46788e;
	padding-right: 2px;
}

.text-header {
	text-align: center;
	font-size: 20px;
	color: #46788e;
}

.navigation {
	float: center;
	font-size: large;
}

/* Offset page content to avoid overlap with footer */
.content {
	padding-bottom: 80px;
}

/* For centering objects */
.obj-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Buttons */
.button-style {
	background-color: #598181;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* Hero image with text */
.hero-image {
	background-image: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url("assets/mountain3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative;
	height: 400px;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 50px;
}

/* Content and columns on Home */
.mid-content {
	width: 50%;
    margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
	margin-bottom: 100px;
	padding: 5px;
	border-left: 2px solid #46788e;
}

.read-more {
	float: right;
	background-color: #598181;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-right: 50px;
}

.home-columns {
	width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.column-heading {
	float: left;
	width: 32%;
	padding: 5px;
}

.row-heading::after {
	content: "";
	clear: both;
	display: table;
}

.column-image {
	float: left;
	width: 32%;
	padding: 5px;
}

.row-image::after {
	content: "";
	clear: both;
	display: table;
}

.column-text {
	float: left;
	width: 32%;
	padding: 5px;
	margin-bottom: 20px;
}
	
.column-text-middle {
	float: left;
	width: 32%;
	padding: 5px;
	border-right: 2px solid #46788e;
	border-left: 2px solid #46788e;
	margin-bottom: 20px;
}

.row-text::after {
	content: "";
	clear: both;
	display: table;
}

/* Sign In link */
.signin {
	float: right;
	display: inline-block;
}

/* Horizontal divider on Sign In */
.signup-splash {
	border-bottom: 2px solid #151d32;
	width: 50%;
	margin: auto;
	margin-bottom: 25px;
}

/* Navigation links */
.navigation li a {
	color:black;
}

/* --------------------Dashboard-------------------- */
/* Dashboard columns */
.column {
	width: 33%;
    float: left;
	text-align: center;
}

.mid-dash-column {
	float: left;
	width: 33%;
	border-left: 2px solid #151d32;
	border-right: 2px solid #151d32;
	padding: 2px;
	text-align: center;
}

.horiz-divider {
	border-bottom: 2px solid #151d32;
	width: 80%;
	margin: auto;
	margin-bottom: 25px;
	margin-top: 25px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.dashbutton-order {
	margin: auto;
	width: 50%;
}

.dash-buttons {
	background-color: #598181;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.dashimg-order {
	margin: auto;
	float: left;
	padding: 5px;
}

.dash-img1 {
	margin: auto;
	width: 40%;
	padding: 10px;
}

.dash-img2 {
	margin: auto;
	width: 40%;
	padding: 10px;
	float: right;
}

/* --------------------Footer for entire site-------------------- */
.site-footer {
	width: 100%;
	background-color: #a7a9ac;
	color: black;
	text-align: center;
	position: fixed;
	left: 0px;
	bottom: 0px;
	padding: 5px 0;
}